<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2016 Jared Rummler <jared.rummler@gmail.com>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyc.colorlight.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.LampActivity">

            <!-- android:theme="@style/HomeActivityTheme"> -->
        </activity>
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.SplashActivity">
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".MQTT.MQTTService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MQTT.UpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.DebugActivity"
            android:label="@string/title_activity_debug" />
        <activity android:name=".Activity.OtherActivity" />
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.WifiConnectActivity"
            android:theme="@style/Theme.Actionbar" />
        <activity android:name="com.esp.smartconfig.SweetDialogActivity" />
        <activity android:name=".Activity.SmartConfigActivity" />
        <activity android:name=".Activity.GuideActivity" />
        <activity android:name=".Activity.AboutActivity"
            android:theme="@style/Theme.Actionbar">

        </activity>
    </application>

</manifest>